<cheadle-farm-menu [links]="appLinks.mainLinks" (scroll)="onScroll()">

  <app-header></app-header>

  <main class="content pb-5">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <cheadle-farm-google-map class="google-map"
                             [staticUrl]="googleMapsStaticUrl"
                             [apiKey]="googleMapsApikey"
                             [latitude]="googleMapsLatitude"
                             [longitude]="googleMapsLongitude"
                             [zoom]="googleMapsZoom"
                             [showMap]="googleMapsShow"></cheadle-farm-google-map>

    <app-footer></app-footer>
  </footer>

</cheadle-farm-menu>

