$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1000px,
);

$container-max-widths: (
  sm: 768px,
  md: 950px,
);

$breakpoint-sm: map-get($grid-breakpoints, 'sm');
$breakpoint-md: map-get($grid-breakpoints, 'md');

$container-sm: map-get($container-max-widths, 'sm');
$container-md: map-get($container-max-widths, 'md');
