<header class="header">

  <div class="header__logo">
    <app-cow-logo></app-cow-logo>
  </div>

  <div class="header__row">

    <div class="header-icon">
      <app-header-hamburger (clicked)="open()"></app-header-hamburger>
    </div>

    <div class="header__text">
      <app-header-anchorlink></app-header-anchorlink>
    </div>

    <div class="header-icon">
      <app-header-call></app-header-call>
    </div>
  </div>

  <div class="header__row">

  </div>

  <div class="header__links">
    <app-header-links></app-header-links>
  </div>

</header>
