:host {
  display: block;
  padding-top: 105px;
}

@media (--breakpoint-md) {
  :host {
    padding-top: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 5px;
  align-items: center;
  background-color: var(--brown);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 97;
}


@media (--breakpoint-md) {
  .header {
    margin: auto;
    position: relative;
  }
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (--breakpoint-md) {
  .header__row {
    justify-content: center;
  }
}

.header__text {
  flex-grow: 1;
  text-align: center;
}

.header-icon {
  flex-shrink: 1;
}

@media (--breakpoint-md) {
  .header-icon {
    display: none;
  }
}


.header__links {
  width: 100%;
}

.header__logo {
  color: rgba(255, 255, 255, 0.4);
  width: 50px;
  margin: 5px auto;
  position: relative;
}

@media (--breakpoint-md) {
  .header__logo {
    width: 100px;
    margin: 20px auto;
  }
}
