:root {
  --color-background: #EFEBE9;
  --color-dark-primary: #432818;
  --color-light-primary: #BB9457;
  --color-primary: #CE7A10;
  --color-accent: #338aab;
  --color-primary-text: #1a1a1q;
  --color-error: #6F1D1B;
  --color-secondary-text: #6E5C65;
  --color-divider: #BB9457;
  --color-icons: #FFF;
  --color-white: #FFF;
  --color-black: #1a1a1a;

  --brown: #6E5C65;
  --brown-dark: #432818;
  --red: #6F1D1B;
  --ochre: #BB9457;
  --corn: #FFE6A7;
  --orange: #CE7A10;
  --blue: #338aab;
  --robin-egg: #C3FbF4;
  --grey: #444;
}
